<footer class="site-footer">
  <span class="site-footer-credits">
    <a href="https://github.com/gkmngrgn" title="Gökmen Görgen's GitHub profile">GitHub</a> —
    <a href="https://goo.gl/m9tqZh" title="Gökmen Görgen's resume">CV</a> —
    <a href="https://alageek.com/" title="alaGeek LTD.">alaGeek</a>  —
    <a href="https://twitter.com/gokmengorgen" title="Gökmen Görgen's Twitter profile">Send me DM from Twitter!</a> —
    <a href="/wallet" title="3DdTL4vZ4qqjQ39HgB9nyF1otg2dgs5S2Z">BTC &amp; ETH</a>
  </span>
</footer>
