<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>05 - Formset - GKMNGRGN</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="referrer" content="no-referrer">
    <meta name="description" content="Yeni uygulamayla yerelleştirme, yetkilendirme, kullanıcı bilgilendirme, unittest ve benzeri konulara değineceğiz. Önce formset.">
    <meta property="og:site_name" content="GKMNGRGN" />
    <meta property="og:locale" content="nn_NO" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://gokmengorgen.net/django-notes/05-formset/" />
    <meta property="og:title" content="05 - Formset" />
    <meta property="og:image" content="https://gokmengorgen.net/img/django-notes/django-notes.png" />
    <meta property="og:description" content="Yeni uygulamayla yerelleştirme, yetkilendirme, kullanıcı bilgilendirme, unittest ve benzeri konulara değineceğiz. Önce formset." />

    
        <meta property="twitter:site" content="@gokmengorgen">
    

    <meta property="twitter:title" content="05 - Formset" />
    <meta property="twitter:image" content="https://gokmengorgen.net/img/django-notes/django-notes.png" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:description" content="Yeni uygulamayla yerelleştirme, yetkilendirme, kullanıcı bilgilendirme, unittest ve benzeri konulara değineceğiz. Önce formset." />

    
        <meta name="flattr:id" content="62knje">
    

    <link rel="canonical" href="https://gokmengorgen.net/django-notes/05-formset/">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://gokmengorgen.net/css/main.css" />

    
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs.min.css" integrity="sha256-w6kCMnFvhY2tI1OnsYR/rb5DG9yFGodJknvFZOkp51E=" crossorigin="anonymous" />
    

    
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/progressively/1.2.5/progressively.min.css" integrity="sha256-xbqLYBMsjpuCihs+3Fgp/MFMtPdo2SWKoOjEWOqR4X0=" crossorigin="anonymous" />
    

    <link rel="shortcut icon"
        href="https://gokmengorgen.net/img/laughing-man-favicon.png">

    

    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i" rel="stylesheet">
    </noscript>
</head>

<body>
    
    <div class="my-4 my-md-5 header">
    <div class="container">
        <div class="row">
            <div class="col-auto offset-md-1 d-none d-md-block">
                
                    <a href="https://gokmengorgen.net/">
                        <img class="ml-md-4 logo" src="https://gokmengorgen.net/img/laughing-man.png" alt="logo">
                    </a>
                
            </div>
            <div class="col-auto align-self-center mr-auto">
                <a href="https://gokmengorgen.net/">
                    <h1 class="font-weight-bold name">GKMNGRGN</h1>
                </a>

                <ul class="nav nav-primary">
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-blog" href="https://gokmengorgen.net/blog/">
                                
                                Blog
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-my-work" href="https://alageek.com">
                                
                                My work
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-live" href="https://gokmengorgen.net/live/">
                                📹
                                Live
                            </a>
                        </li>
                    

                    
                </ul>

                <ul class="nav nav-secondary">
                    
                        <li class="nav-item">
                            <a class="text-uppercase font-weight-bold nav-link text-patreon" href="https://www.patreon.com/bePatron?u=10637849">
                                
                                Become a patron
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase font-weight-bold nav-link text-bmc" href="https://www.buymeacoffee.com/gokmen">
                                
                                Buy me a coffee
                            </a>
                        </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>


    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10">
                    <h1 class="mx-0 mx-md-4">05 - Formset</h1>

                    <div class="mb-4 mb-md-5 meta">
                        <span class="date" title="Sun May 6 2018 14:30:19 CEST">
                            May 6, 2018
                        </span>

                        <span class="reading-time middot">
                            5 minute read
                        </span>

                        <div class="d-none d-md-inline tags">
                            <ul class="list-unstyled d-inline">
                                <li class="d-inline middot">
                                    <a href="https://gokmengorgen.net/django-notes/">Django notlarım</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="markdown">
                        
    
    

<p><em>Palette uygulamasıyla MTV Katmanları ve Admin paneli ve CRUD ile ilgili giriş seviyesinde bilgiler edindik. Yeni uygulamamız <strong>Uptime</strong>. Bu uygulamayla yerelleştirme, sayfa isteklerini yönetme ve yetkilendirme, eposta veya sayfa içi bildirimlerle kullanıcıyı bilgilendirme, unittest, komut satırında çalışan scriptler ve bunlarla ilişkili birçok konuya değineceğiz. Formset ile başlıyoruz.</em></p>

<h2 id="özet">Özet</h2>

<ul>
<li>Uptime uygulamasını yazmaya başlıyoruz. URL&rsquo;leri girmek için Formset kullanıyoruz.</li>
<li>İhtiyacımızı görecek bir Django eklentisini yükleyip kullanacağız.</li>
<li>Bu yazıyla ilgili kodlara <a href="https://github.com/gkmngrgn/django-notes/tree/master/Article-05">buradan</a> erişebilirsiniz.</li>
</ul>

<h2 id="yeni-uygulamamız-uptime">Yeni Uygulamamız, Uptime</h2>

<p>Uygulamamızın en temel işlevi, belirlediğimiz URL veya IP adreslerinin erişilebilirliğini belirli aralıklarla kontrol etmek. Piyasa bu işi yapan uptimerobot, pingdom gibi çeşitli hizmetler var. Biz de Django’yu öğrenmek için basit bir prototipini yapmış olacağız. Daha önce öğrendiklerimizi kullanarak şöyle bir başlangıç yapıyoruz:</p>

<ul>
<li><strong>hello_uptime</strong> adında yeni bir uygulama oluşturuyoruz (startapp).</li>
<li><strong>templates/uptime/</strong> içinde Template katmanımızı oluşturuyoruz.</li>
<li><strong>urls.py</strong> ile uygulama url’lerimizi tanımlıyoruz, bunun için gerekli View katmanlarımızı hazırlıyoruz.</li>
<li><strong>Monitor</strong> adında ilk modelimizi oluşturuyoruz, model üzerinde denemelerimizi yapmak için Admin class’ımızı hazırlıyoruz.</li>
</ul>

<p>Yeni bir uygulama yazarken önce bir kabaca başlangıç yapmak size yardımcı olur. Yani hemen Template katmanının içini doldurmaya başlamayın, önce basit bir form olsun yeter. Modelinizi denemek mi istiyorsunuz? Admin panelini kullanın. Şimdi, depodan Article-05 dizinine girin, orada <strong>hello_uptime</strong> uygulamasını kullanıp hızlı bir başlangıç yapabilirsiniz.</p>

<p>Uygulamamızı basit bir şekilde tasarlayalım. Sadece bir dashboard’ımız olsun. Orada URL veya IP girebileceğimiz bir formumuz olsun, formu kaydedebilelim ve yine aynı sayfada sonuçları izleyebileceğimiz bir ekranımız olsun.</p>

<pre><code class="language-python"># hello_uptime/views.py
...
class UptimeDashboardView(FormView):
    template_name = 'uptime/dashboard.html'  # Template dosyamız.
    form_class = MonitorForm  # Monitor modeli için form.

    def get_success_url(self):
        # Form başarıyla kaydedilirse aynı sayfaya yönlendirilecek.
        # Tek bir View katmanımız olacak. Her şey bir Dashboard'dan ibaret.
        return reverse('uptime:dashboard')

    def get_form_kwargs(self):
        # Tekrar hatırlatıyorum, tek bir View katmanımız var. Daha önce kaydettiğimiz
        # Bir Monitor object (instance) varsa onu kullanmaya devam edeceğiz.
        # İstediğimizde tekrar düzenleyebileceğiz. Hepsi tek bir View katmanında.
        kwargs = super().get_form_kwargs()
        instance = Monitor.objects.first()
        kwargs.update({
            'instance': instance,
        })
        return kwargs

    def form_valid(self, form):
        # ModelForm'u mutlaka inceleyin: hello_uptime/forms.py
        # save metodunun nereden geldiğini ve nasıl çalıştığını anlayın.
        form.save()
        return super().form_valid(form)
</code></pre>

<p>View kodumuzu üzerine yazdığım yorumlarla birlikte inceleyin. Şimdi burada bir sorun var. Bir sayfada tek bir Form kullanabiliyoruz. Birden fazla URL girmek istediğimizde ne yapacağız? <a href="http://localhost:8000/uptime/">http://localhost:8000/uptime/</a> üzerinden bir bakalım:</p>

<p><a href="https://gokmengorgen.net/img/django-notes/uptime-form.png" target="_blank">
  <figure class="progressive"><img class="progressive__img progressive--not-loaded" data-progressive="https://gokmengorgen.net/img/django-notes/uptime-form.png" src="https://gokmengorgen.net/img/django-notes/low/uptime-form.png" alt="Uptime form" title="Uptime form" /></figure>
</a></p>

<p>Tek form, tek monitor :-(. Şimdi Formset<sup class="footnote-ref" id="fnref:1"><a href="#fn:1">1</a></sup> zamanı.</p>

<h2 id="formset-kullanımı-ve-don-t-repeat-yourself">Formset Kullanımı ve Don&rsquo;t Repeat Yourself</h2>

<p>Uygulamamız henüz buna hazır değil; ama diyelim ki kullanıcılar projemizde hesap açsınlar ve her kullanıcının en fazla 10 URL&rsquo;i izleme hakkı olsun. Yani bizim uygulama arayüzümüzde 10 form içeren bir form kümesi olsun ve kullanıcılar tek seferde düzenleyebilsin.</p>

<p><strong>UptimeDashboardView</strong> için miras aldığımız <strong>FormView</strong>, tek bir formu yönetebilmemiz için hazırlanmış kapsamlı bir View class&rsquo;ıdır. Bu durumda elimizde iki seçenek var. Bunlardan <u>birincisi</u>, FormView&rsquo;i kendi ihtiyacımıza göre özelleştirip yeni bir genel View class&rsquo;ı ve bu tip özel ihtiyaçlarda hep aynı class&rsquo;ı kullanmak. Mesela bu özelleştirilmiş class&rsquo;ın adı <strong>FormSetView</strong> olabilir.</p>

<p>Ama <u>bir seçeneğimiz daha</u> var. Django büyük bir topluluk ve bizim ihtiyaç duyduğumuz şeye başkaları da ihtiyaç duymuş olabilir, hatta bu ihtiyacı birisi Django eklentisi haline getirmiş bile olabilir. <a href="https://pypi.org/project/django-extra-views/">PyPI</a>&lsquo;den arattığımda <strong>django-extra-views</strong><sup class="footnote-ref" id="fnref:2"><a href="#fn:2">2</a></sup>&lsquo;in aradığımız eklenti olduğunu gördüm. Hemen <strong>requirements.txt</strong>&lsquo;ye yeni bağımlılığımızı ekliyoruz, kuruyoruz ve View katmanımızı güncelliyoruz:</p>

<pre><code class="language-python"># hello_uptime/views.py
from django.urls import reverse_lazy
from extra_views import ModelFormSetView

from hello_uptime.models import Monitor
from hello_uptime.utils import USER_MONITOR_LIMIT


class UptimeDashboardView(ModelFormSetView):
    # django-extra-views belgesinde deniliyor ki, ayrıca Form veya FormSet
    # oluşturmaya gerek yok, bana modelini, kullanacağın field'ları, success_url'i
    # söyle, gerisini ben hallederim. Halletsin bir zahmet, güzel bir eklenti olmuş.
    fields = ('url', 'interval', 'is_active')
    model = Monitor
    success_url = reverse_lazy('uptime:dashboard')  # Neden reverse değil de reverse_lazy? Bana yazın. ;-)
    template_name = 'uptime/dashboard.html'

    def get_queryset(self):
        return Monitor.objects.order_by('created_at')  # Sıra bozulmasın diye, oluşturulma sırasına göre aldık.

    def get_factory_kwargs(self):
        kwargs = super().get_factory_kwargs()
        kwargs.update({
            'extra': USER_MONITOR_LIMIT,  # Dashboard'da 10 input'un hepsini tek seferde göster.
            'max_num': USER_MONITOR_LIMIT,  # Dashboard'da en fazla 10 input olabilir.
        })
        return kwargs

    def formset_valid(self, formset):  # form_valid formset_valid oldu.
        formset.save()
        return super().formset_valid(formset)
</code></pre>

<p>Eklenti kullanmasaydık, bu kod bu kadar basit ve temiz olmayacaktı. İyi ki topluluk var! Son bir işimiz kaldı, Template katmanımızı da formset kullanacak şekilde düzenlemeliyiz:</p>

<pre><code class="language-html">&lt;!-- templates/uptime/dashboard.html --&gt;
...
{% block content %}
    &lt;form action=&quot;{% url 'uptime:dashboard' %}&quot; method=&quot;POST&quot;&gt;
        {% csrf_token %}  &lt;!-- Sahte istekleri önleyen CSRF template tag'ımız --&gt;
        {{ formset.management_form }} &lt;!-- Formset'imiz ile ilgili max_num, total gibi gizli inputları ekledik. --&gt;
        &lt;table&gt;
            {% for form in formset %}
                &lt;tr&gt;
                    &lt;th&gt;&lt;/th&gt;
                    &lt;td&gt;
                        &lt;!-- blocktrans i18n template modülünden geliyor. Çeviriler için. --&gt;
                        &lt;!-- Örnek bir blocktrans ve forloop.counter kullanımı --&gt;
                        {% blocktrans with number=forloop.counter %}Monitor {{ number }}{% endblocktrans %}
                    &lt;/td&gt;
                &lt;/tr&gt;
                {{ form.as_table }}
            {% endfor %}
            &lt;tr&gt;
                &lt;th&gt;&lt;/th&gt;
                &lt;td&gt;&lt;button type=&quot;submit&quot;&gt;{% trans &quot;Save&quot; %}&lt;/button&gt;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;
    &lt;/form&gt;
{% endblock %}

</code></pre>

<p>Formsetimiz içinde 10 tane form var ve başlangıç datasıyla birlikte artık kullanıma hazır:</p>

<p><a href="https://gokmengorgen.net/img/django-notes/uptime-formset.png" target="_blank">
  <figure class="progressive"><img class="progressive__img progressive--not-loaded" data-progressive="https://gokmengorgen.net/img/django-notes/uptime-formset.png" src="https://gokmengorgen.net/img/django-notes/low/uptime-formset.png" alt="Uptime formset" title="Uptime formset" /></figure>
</a></p>

<p>Yalnız bir eksiklik var. Bu uptime uygulamasını kullanıcılarımızın bir hesap açarak kullanmasını istiyoruz ve her kullanıcının 10 ekran izleme hakkı olsun istiyoruz. Bunun için hesap oluşturma, email ile hesap doğrulama, parola yenileme gibi ekranlara ihtiyacımız var ve bu uptime panelini giriş yapan kullanıcıya göre biraz özelleştirmemiz gerekiyor. Sonraki yazımızda görüşmek üzere.</p>
<div class="footnotes">

<hr />

<ol>
<li id="fn:1">Daha önce söylediğim gibi, bilmediğiniz veya hatırlamadığınız konular için Django belgelerine sık sık bakmayı alışkanlık hale getirmeniz size çok şey kazandırır. <a href="https://docs.djangoproject.com/en/2.0/topics/forms/formsets/">Formsets</a> belgesine mutlaka bakın.
 <a class="footnote-return" href="#fnref:1"><sup>[return]</sup></a></li>
<li id="fn:2">Bir eklentiyi bağımlılık olarak eklemeye karar vermeden önce bakımı iyi yapılıyor mu, unittestleri var mı, belgesi nasıl, kodu temiz mi bir bakmakta fayda var.
 <a class="footnote-return" href="#fnref:2"><sup>[return]</sup></a></li>
</ol>
</div>



                    </div>

                    
                        <div class="navigation">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    
                                        <div class="mx-0 mx-md-4 mt-4 text-left">
                                            <img class="icon" src="https://gokmengorgen.net/img/back.svg" alt="back" />
                                            <a href="https://gokmengorgen.net/django-notes/04-template-motoru/">04 - Template Motoru</a>
                                        </div>
                                    
                                </div>
                                <div class="col-12 col-md-6">
                                    
                                        <div class="mx-0 mx-md-4 mt-4 text-right">
                                            <a href="https://gokmengorgen.net/django-notes/06-bildirimler-ve-ceviriler/">06 - Bildirimler ve çeviriler</a>
                                            <img class="icon" src="https://gokmengorgen.net/img/next.svg" alt="next" />
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5">
                
                    <div class="mx-0 mx-md-4 text-left">
                        
                            <a href="https://gokmengorgen.net/license">© 2018 by Gökmen Görgen.</a>
                        
                    </div>
                
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="mx-0 mx-md-4 text-right">
                    

                    

                    

                    
                        <a href="https://github.com/gkmngrgn" target="_blank">
                            <img class="icon" src="https://gokmengorgen.net/img/github.svg" alt="github" />
                        </a>
                    

                    
                        <a href="https://twitter.com/gokmengorgen" target="_blank">
                            <img class="icon" src="https://gokmengorgen.net/img/twitter.svg" alt="twitter" />
                        </a>
                    

                    
                        <a href="https://www.linkedin.com/in/gokmengorgen" target="_blank">
                            <img class="icon" src="https://gokmengorgen.net/img/linkedin.svg" alt="linkedin" />
                        </a>
                    

                    
                        <a href="mailto:gokmen@alageek.com">
                            <img class="icon" src="https://gokmengorgen.net/img/email.svg" alt="email" />
                        </a>
                    

                    
                        <a href="https://gokmengorgen.net/index.xml" class="mr-0">
                            <img class="icon" src="https://gokmengorgen.net/img/rss.svg" alt="rss" />
                        </a>
                    

                    
                </div>
            </div>
        </div>
    </div>
</div>



    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" integrity="sha256-4O4pS1SH31ZqrSO2A/2QJTVjTPqVe+jnYgOWUVr7EEc=" crossorigin="anonymous"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Raleway:400,600,700', 'Merriweather:300,300i,700,700i']
            }
        });
    </script>

    
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/bash.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/cs.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/css.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/diff.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/django.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dockerfile.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/lisp.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/nginx.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/powershell.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js" defer></script>
        
        <script>
            window.addEventListener('load', function() {
                hljs.initHighlighting();
            }, true);
        </script>
    

    
        <script src="//cdnjs.cloudflare.com/ajax/libs/progressively/1.2.5/progressively.min.js" integrity="sha256-LvFVlLdfGI3WeEH+8Ni4kxLm02g2GlOfeGCGLXfRk/U=" crossorigin="anonymous"></script>
        <script>
            window.addEventListener('load', function() {
                progressively.init({delay: 30, throttle: 50});
            }, true);
        </script>
    

    

    
<script>
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-54304543-3', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

    
<script>
    (function (m, a, i, l, e, r) {
        m['MailerLiteObject'] = e; function f() {
            var c = { a: arguments, q: [] }; var r = this.push(c); return "number" != typeof r ? r : f.bind(c.q);
        }
        f.q = f.q || []; m[e] = m[e] || f.bind(f.q); m[e].q = m[e].q || f.q; r = a.createElement(i);
        var _ = a.getElementsByTagName(i)[0]; r.async = 1; r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
        _.parentNode.insertBefore(r, _);
    })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1180610', 'p6p1h3r0l3', 'load');
</script>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55bfede7196e342d"></script>

</body>

</html>
