<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>08 - Komutlar - GKMNGRGN</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="referrer" content="no-referrer">
    <meta name="description" content="Komutlara neden ihtiyaç duyarız? Çeviri dosyaları oluşturmak, session temizlemek, arama motorlarına buradayım demek, süper kullanıcı oluşturmak için ve daha birçok şey için.">
    <meta property="og:site_name" content="GKMNGRGN" />
    <meta property="og:locale" content="nn_NO" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://gokmengorgen.net/django-notes/08-komutlar/" />
    <meta property="og:title" content="08 - Komutlar" />
    <meta property="og:image" content="https://gokmengorgen.net/img/django-notes/django-notes.png" />
    <meta property="og:description" content="Komutlara neden ihtiyaç duyarız? Çeviri dosyaları oluşturmak, session temizlemek, arama motorlarına buradayım demek, süper kullanıcı oluşturmak için ve daha birçok şey için." />

    
        <meta property="twitter:site" content="@gokmengorgen">
    

    <meta property="twitter:title" content="08 - Komutlar" />
    <meta property="twitter:image" content="https://gokmengorgen.net/img/django-notes/django-notes.png" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:description" content="Komutlara neden ihtiyaç duyarız? Çeviri dosyaları oluşturmak, session temizlemek, arama motorlarına buradayım demek, süper kullanıcı oluşturmak için ve daha birçok şey için." />

    
        <meta name="flattr:id" content="62knje">
    

    <link rel="canonical" href="https://gokmengorgen.net/django-notes/08-komutlar/">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha256-azvvU9xKluwHFJ0Cpgtf0CYzK7zgtOznnzxV4924X1w=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://gokmengorgen.net/css/main.css" />

    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs.min.css" integrity="sha256-w6kCMnFvhY2tI1OnsYR/rb5DG9yFGodJknvFZOkp51E=" crossorigin="anonymous" />
    

    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/progressively/1.2.5/progressively.min.css" integrity="sha256-xbqLYBMsjpuCihs+3Fgp/MFMtPdo2SWKoOjEWOqR4X0=" crossorigin="anonymous" />
    

    <link rel="shortcut icon"
        href="https://gokmengorgen.net/img/laughing-man-favicon.png">

    

    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i" rel="stylesheet">
    </noscript>
</head>

<body>
    
    <div class="my-4 my-md-5 header">
    <div class="container">
        <div class="row">
            <div class="col-auto offset-md-1 d-none d-md-block">
                
                    <a href="https://gokmengorgen.net/">
                        <img class="logo" src="https://gokmengorgen.net/img/laughing-man.png" alt="logo">
                    </a>
                
            </div>
            <div class="col-auto align-self-center mr-auto">
                <a href="https://gokmengorgen.net/">
                    <h1 class="font-weight-bold name">GKMNGRGN</h1>
                </a>

                <ul class="nav nav-primary">
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-my-work" href="https://alageek.com">
                                
                                Çalışmalarım
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-live" href="https://gokmengorgen.net/canli-yayin/">
                                📹
                                Canlı Yayın
                            </a>
                        </li>
                    

                    
                </ul>

                <ul class="nav nav-secondary">
                    
                        <li class="nav-item">
                            <a class="text-uppercase font-weight-bold nav-link text-patreon" href="https://www.patreon.com/bePatron?u=10637849">
                                
                                Bağış Yap
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase font-weight-bold nav-link text-bmc" href="https://www.buymeacoffee.com/gokmen">
                                
                                Bi&#39; Kahve?
                            </a>
                        </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>


    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10">
                    <h1 class="mx-0 mx-md-4">08 - Komutlar</h1>

                    <div class="mb-4 mb-md-5 meta">
                        <span class="date" title='Sat Jun 2 2018 02:05:05 &#43;0200'>
                            June 02, 2018
                        </span>

                        <span class="reading-time middot">
                            4 minute read
                        </span>

                        <div class="d-none d-md-inline tags">
                            <ul class="list-unstyled d-inline">
                                <li class="d-inline middot">
                                    <a href="https://gokmengorgen.net/django-notes/">Django notlarım</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="markdown">
                        
    
    

<p><em>Web projelerinin en önemli bölümlerinden biri de teknik operasyonlar. Bazen birikmiş sessionları temizlemek, bazen çeviri dosyalarını oluşturmak, bazen de sadece arama motorlarına buradayım demek için komut satırı uygulamalarına ihtiyaç duyarız. Bizim de uptime uygulamasında, ekranları kontrol etmek için benzer bir komut satırı uygulamasına ihtiyacımız var.</em></p>

<h2 id="özet">Özet</h2>

<ul>
<li>URL&rsquo;lerin erişilebilir olup olmadığını anlayabileceğimiz bir komut yazacağız.</li>
<li>Ekran durumlarını admin panelinden ve kullanıcı arayüzünden görünür hale getireceğiz.</li>
<li>Bu yazıyla ilgili kodlara <a href="https://github.com/gkmngrgn/django-notes/tree/master/Article-08">buradan</a> erişebilirsiniz.</li>
</ul>

<h2 id="ekranları-kontrol-edelim">Ekranları kontrol edelim</h2>

<p>Kullanıcılar için Uptime uygulamasını yazdık, kullanıcılar ekranları giriyor, bizim de bu ekranları periyodik olarak kontrol etmemiz gerekiyor. <strong>Periyodik</strong> kısmını sonraya bırakalım ve önce ekranları kontrol etme kısmına odaklanalım.</p>

<p>En nihayetinde yapacağımız şey, komut satırından komutumuzu url parametreleriyle çalıştırmak ve o url&rsquo;i kullanan ekran sayısını öğrenmek, url&rsquo;in erişim durumunu kontrol etmek, ve bilgileri veritabanına işlemek:</p>

<pre><code class="language-bash"># terminal
$ python manage.py checkurls https://blabla.com https://gokmengorgen.net https://radity.com
https://blabla.com - 0 monitor(s): offline
https://gokmengorgen.net - 2 monitor(s): online
https://radity.com - 1 monitor(s): online
</code></pre>

<p>Hatırlamak için modelimizi tekrar incelemekte fayda var:</p>

<pre><code class="language-python"># hello_uptime/models.py
...
class Monitor(models.Model):
    user = models.ForeignKey(
        verbose_name=_(&quot;User&quot;), to=settings.AUTH_USER_MODEL, related_name='monitors', on_delete=models.CASCADE,
        null=True)
    url = models.URLField(verbose_name=_(&quot;URL&quot;))
    interval = models.PositiveSmallIntegerField(
        verbose_name=_(&quot;Monitoring interval&quot;), choices=MonitoringInterval.get_choices(),
        default=MonitoringInterval.get_default())
    status = models.CharField(verbose_name=_(&quot;Status&quot;), max_length=9, choices=MonitorStatus.get_choices(), blank=True)
    is_active = models.BooleanField(verbose_name=_(&quot;Is active?&quot;), blank=True, default=True)
    checked_at = models.DateTimeField(verbose_name=_(&quot;Checked at&quot;), null=True, editable=False)
    created_at = models.DateTimeField(verbose_name=_(&quot;Created at&quot;), auto_now_add=True)
...
</code></pre>

<p>Burada bazı field&rsquo;ları henüz tam anlamıyla kullanmadık:</p>

<ul>
<li><strong>status:</strong> URL&rsquo;in erişim durumunu burada saklayacağız.</li>
<li><strong>is_active:</strong> Aktif olmayan ekranları pas geçeceğiz.</li>
<li><strong>checked_at:</strong> En son ne zaman kontrol ettiğimiz bilgisini saklayacağız.</li>
</ul>

<p>Bizim komutumuz, ekran bilgilerini bu fieldları kullanarak saklayacak. Django belgesinde anlatıldığı<sup class="footnote-ref" id="fnref:1"><a href="#fn:1">1</a></sup> üzere özel bir komut yazabilmemiz için, script&rsquo;imizi <strong>management/commands/</strong> içinde tutmamız gerekiyor<sup class="footnote-ref" id="fnref:2"><a href="#fn:2">2</a></sup>. Komutu hazırlarken bir kuralımız var, bu komutu kullanacak kişinin veya uygulamanın hiçbir şekilde yanlış ve saçmasapan URL girmeyeceğini varsayıyoruz. Bunu varsayabiliriz, çünkü hem uptime uygulamasında, hem admin panelinde URL&rsquo;ler için bir kontrolümüz var ki geçerli URL girilmemişse veritabanına kaydedilemiyor:</p>

<pre><code class="language-python"># hello_uptime/management/commands/checkurls.py
import requests
from django.core.management.base import BaseCommand
from django.utils import timezone
from requests.exceptions import SSLError

from hello_uptime.models import Monitor
from hello_uptime.utils import MonitorStatus


class Command(BaseCommand):
    help = &quot;Checks the urls for monitors&quot;

    def add_arguments(self, parser):
        # Komutumuz çoklu parametre alıyor ve zorunlu. URL'leri komut satırında yazacağız.
        parser.add_argument('urls', nargs='+', type=str)

    def handle(self, *args, **options):
        # Komutumuz çalıştırıldığında bu fonksiyonu çalıştıracak. Parametrelerimize de buradan erişebileceğiz.
        urls = options['urls']

        for url in urls:
            monitors = Monitor.objects.filter(is_active=True, url=url)
            # Komut satırından ekranlar hakkında bilgi almak için birkaç satır ekliyoruz.
            self.stdout.write(self.style.WARNING(&quot;{} - {} monitor(s)&quot;.format(url, monitors.count())), ending=': ')

            try:
                response = requests.get(url)
                status = MonitorStatus.ONLINE if response.status_code == 200 else MonitorStatus.OFFLINE
            except SSLError:
                status = MonitorStatus.OFFLINE

            monitors.update(status=status, checked_at=timezone.now())  # Sonucu saklıyoruz.
            status_style = self.style.ERROR if status == MonitorStatus.OFFLINE else self.style.SUCCESS
            self.stdout.write(status_style(status))
</code></pre>

<h2 id="kullanıcı-ekran-durumlarını-nasıl-görecek">Kullanıcı ekran durumlarını nasıl görecek?</h2>

<p>Komutumuzu çalıştırdıktan sonra sonuçları iki yerde göreceğiz. Birincisi admin paneli:</p>

<p><a href="https://gokmengorgen.net/img/django-notes/uptime-monitor-status.png" target="_blank">
  <figure class="progressive"><img class="progressive__img progressive--not-loaded" data-progressive="https://gokmengorgen.net/img/django-notes/uptime-monitor-status.png" src="https://gokmengorgen.net/img/django-notes/low/uptime-monitor-status.png" alt="Monitor status" title="Ekranların durumu" /></figure>
</a></p>

<p>Ama admin paneli sadece yetkili kullanıcılar için. Normal kullanıcılar ne yapacak? <strong>main.css</strong> içine birkaç satır stil ekleyelim ve sonra <strong>dashboard.html</strong> dosyasını düzenleyelim:</p>

<pre><code class="language-css">/* static/main.css */
...
table.monitor-form {
    margin-top: 40px;
}

table.monitor-form th,
table.monitor-buttons th {
    padding-right: 10px;
    text-align: right;
    width: 200px;
}

table.monitor-form td.status-online,
table.monitor-form td.status-offline {
    padding: 0 5px;
    color: white;
}

table.monitor-form td.status-online {
    background-color: green;
}

table.monitor-form td.status-offline {
    background-color: red;
}

table.monitor-buttons {
    margin-top: 20px;
}
</code></pre>

<pre><code class="language-html">&lt;!-- templates/uptime/dashboard.html --&gt;
...
&lt;form action=&quot;{% url 'uptime:dashboard' %}&quot; method=&quot;POST&quot;&gt;
    {% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
        &lt;table class=&quot;monitor-form&quot;&gt;
            &lt;tr&gt;
                &lt;th&gt;&lt;/th&gt;
                &lt;td&gt;{% blocktrans with number=forloop.counter %}Monitor {{ number }}{% endblocktrans %}&lt;/td&gt;
            &lt;/tr&gt;
            {% if form.instance.pk %}
                &lt;tr&gt;
                    &lt;th&gt;{% trans &quot;Status&quot; %}:&lt;/th&gt;
                    &lt;td class=&quot;status-{{ form.instance.status }}&quot;&gt;{{ form.instance.get_status_display }}&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th&gt;{% trans &quot;Checked at&quot; %}:&lt;/th&gt;
                    &lt;td&gt;{{ form.instance.checked_at }}&lt;/td&gt;
                &lt;/tr&gt;
            {% endif %}
            {{ form.as_table }}
        &lt;/table&gt;
    {% endfor %}
    &lt;table class=&quot;monitor-buttons&quot;&gt;
        &lt;tr&gt;
            &lt;th&gt;&lt;/th&gt;
            &lt;td&gt;&lt;button type=&quot;submit&quot;&gt;{% trans &quot;Save&quot; %}&lt;/button&gt;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
&lt;/form&gt;
...
</code></pre>

<p><a href="https://gokmengorgen.net/img/django-notes/uptime-monitor-status-frontend.png" target="_blank">
  <figure class="progressive"><img class="progressive__img progressive--not-loaded" data-progressive="https://gokmengorgen.net/img/django-notes/uptime-monitor-status-frontend.png" src="https://gokmengorgen.net/img/django-notes/low/uptime-monitor-status-frontend.png" alt="Monitor status in frontend" title="Kullanıcı arayüzünde ekranların durumu" /></figure>
</a></p>

<h2 id="peki-nasıl-komutu-periyodik-çalıştıracağız">Peki nasıl komutu periyodik çalıştıracağız?</h2>

<p>Bunu anlatabilmem için sunucu tarafına biraz değinmemiz gerekiyor. Bu zamana kadar Django projelerini hep Linux dağıtımlarını kullanarak servis ettim ve periyodik çalıştırılacak işler konusunda projemizi barındırdığımız sistemden destek almamız gerekiyor. Birkaç yolu var, en basiti crontab kullanmak, kullanımı çok basit, bir shell script&rsquo;i hazırladıktan sonra sunucuda <code>crontab -e</code> komutunu çalıştırıp buna benzer bir satır eklememiz gerekiyor:</p>

<pre><code class="language-bash"># terminal
5 * * * * django-notes /home/django-notes/sync_monitors.sh
</code></pre>

<p>Böylece 5 dakikada bir ekranları kontrol ederdik. Ama bana bir hafta daha izin verin, size bunu başka bir yöntem olan Celery<sup class="footnote-ref" id="fnref:4"><a href="#fn:4">3</a></sup> ile nasıl yapılacağını göstereceğim. İyi günler!</p>
<div class="footnotes">

<hr />

<ol>
<li id="fn:1">Komutlar çok detaylı bir konu olduğu için, <a href="https://docs.djangoproject.com/en/2.0/howto/custom-management-commands/">bu belgeye</a> mutlaka bakmanızı öneriyorum. Ben burada sadece Uptime uygulamasında gerekli olduğu kadarıyla ele aldım.
 <a class="footnote-return" href="#fnref:1"><sup>[return]</sup></a></li>
<li id="fn:2">Daha önce de belirttiğimiz gibi, bir dizinin python modülü olarak algılanabilmesi için <strong>__init__.py</strong> dosyasına ihtiyacımız var. Bu her dizin için geçerlidir, iç içe olsa bile.
 <a class="footnote-return" href="#fnref:2"><sup>[return]</sup></a></li>
<li id="fn:4">Celery için mutlaka <a href="http://www.celeryproject.org/">sitesine</a> bir göz atın.
 <a class="footnote-return" href="#fnref:4"><sup>[return]</sup></a></li>
</ol>
</div>



                    </div>

                    
                        <div class="navigation">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    
                                        <div class="mx-0 mx-md-4 mt-4 text-left">
                                            <img class="icon" src="https://gokmengorgen.net/img/back.svg" alt="back" />
                                            <a href="https://gokmengorgen.net/django-notes/07-kullanici-dogrulama/">07 - Kullanıcı doğrulama</a>
                                        </div>
                                    
                                </div>
                                <div class="col-12 col-md-6">
                                    
                                        <div class="mx-0 mx-md-4 mt-4 text-right">
                                            <a href="https://gokmengorgen.net/django-notes/09-celery-ile-periyodik-isler/">09 - Celery ile periyodik işler</a>
                                            <img class="icon" src="https://gokmengorgen.net/img/next.svg" alt="next" />
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5">
                <div class="mx-0 mx-md-4 mb-2 text-center text-md-left">
                    
                        <div>
                            <a class="mx-1 mr-md-2 ml-md-0  text-tags" href="https://gokmengorgen.net/tags/">
                                
                                Etiketler
                            </a>
                        </div>
                    

                    
                        
                            <a href="https://gokmengorgen.net/lisans/">© 2018 - 2019 by Gökmen Görgen.</a>
                        
                    
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="mx-0 mx-md-4 text-center text-md-right">
                    

                    
                        <a href="https://gitlab.com/gokmen" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/gitlab.svg" alt="gitlab" />
                        </a>
                    

                    

                    
                        <a href="https://github.com/gkmngrgn" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/github.svg" alt="github" />
                        </a>
                    

                    
                        <a href="https://twitter.com/gokmengorgen" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/twitter.svg" alt="twitter" />
                        </a>
                    

                    
                        <a rel="me" href="https://mastodon.technology/@gokmen" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/mastodon.svg" alt="mastodon" />
                        </a>
                    

                    
                        <a href="https://t.me/gokmengorgen" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/telegram.svg" alt="telegram" />
                        </a>
                    

                    
                        <a href="https://www.linkedin.com/in/gokmengorgen" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/linkedin.svg" alt="linkedin" />
                        </a>
                    

                    
                        <a href="mailto:gokmen@alageek.com" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/email.svg" alt="email" />
                        </a>
                    

                    
                        <a href="https://gokmengorgen.net/index.xml" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/rss.svg" alt="rss" />
                        </a>
                    

                    
                </div>
            </div>
        </div>
    </div>
</div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha256-63ld7aiYP6UxBifJWEzz87ldJyVnETUABZAYs5Qcsmc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" integrity="sha256-4O4pS1SH31ZqrSO2A/2QJTVjTPqVe+jnYgOWUVr7EEc=" crossorigin="anonymous"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Raleway:400,600,700', 'Merriweather:300,300i,700,700i']
            }
        });
    </script>

    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/bash.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/cs.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/css.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/diff.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/django.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dockerfile.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/lisp.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/nginx.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/powershell.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js" defer></script>
        
        <script>
            window.addEventListener('load', function() {
                hljs.initHighlighting();
            }, true);
        </script>
    

    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/progressively/1.2.5/progressively.min.js" integrity="sha256-LvFVlLdfGI3WeEH+8Ni4kxLm02g2GlOfeGCGLXfRk/U=" crossorigin="anonymous"></script>
        <script>
            window.addEventListener('load', function() {
                progressively.init({delay: 30, throttle: 50});
            }, true);
        </script>
    

    

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-54304543-3', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

    


    
    <script>
        (function (m, a, i, l, e, r) {
            m['MailerLiteObject'] = e; function f() {
                var c = { a: arguments, q: [] }; var r = this.push(c); return "number" != typeof r ? r : f.bind(c.q);
            }
            f.q = f.q || []; m[e] = m[e] || f.bind(f.q); m[e].q = m[e].q || f.q; r = a.createElement(i);
            var _ = a.getElementsByTagName(i)[0]; r.async = 1; r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
            _.parentNode.insertBefore(r, _);
        })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

        var ml_account = ml('accounts', '1180610', 'p6p1h3r0l3', 'load');
    </script>

    
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55bfede7196e342d"></script>


</body>

</html>
