<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>04 - Template Motoru - GKMNGRGN</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="referrer" content="no-referrer">
    <meta name="description" content="Django Template motoru nasıl çalışır, içeriği nasıl doldurabiliriz ve yardımcı araçları nasıl kullanabiliriz? Bu konulara değiniyoruz.">
    <meta property="og:site_name" content="GKMNGRGN" />
    <meta property="og:locale" content="nn_NO" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://gokmengorgen.net/django-notes/04-template-motoru/" />
    <meta property="og:title" content="04 - Template Motoru" />
    <meta property="og:image" content="https://gokmengorgen.net/img/django-notes/django-notes.png" />
    <meta property="og:description" content="Django Template motoru nasıl çalışır, içeriği nasıl doldurabiliriz ve yardımcı araçları nasıl kullanabiliriz? Bu konulara değiniyoruz." />

    
        <meta property="twitter:site" content="@gokmengorgen">
    

    <meta property="twitter:title" content="04 - Template Motoru" />
    <meta property="twitter:image" content="https://gokmengorgen.net/img/django-notes/django-notes.png" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:description" content="Django Template motoru nasıl çalışır, içeriği nasıl doldurabiliriz ve yardımcı araçları nasıl kullanabiliriz? Bu konulara değiniyoruz." />

    
        <meta name="flattr:id" content="62knje">
    

    <link rel="canonical" href="https://gokmengorgen.net/django-notes/04-template-motoru/">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha256-azvvU9xKluwHFJ0Cpgtf0CYzK7zgtOznnzxV4924X1w=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://gokmengorgen.net/css/main.css" />

    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs.min.css" integrity="sha256-w6kCMnFvhY2tI1OnsYR/rb5DG9yFGodJknvFZOkp51E=" crossorigin="anonymous" />
    

    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/progressively/1.2.5/progressively.min.css" integrity="sha256-xbqLYBMsjpuCihs+3Fgp/MFMtPdo2SWKoOjEWOqR4X0=" crossorigin="anonymous" />
    

    <link rel="shortcut icon"
        href="https://gokmengorgen.net/img/laughing-man-favicon.png">

    

    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i" rel="stylesheet">
    </noscript>
</head>

<body>
    
    <div class="my-4 my-md-5 header">
    <div class="container">
        <div class="row">
            <div class="col-auto offset-md-1 d-none d-md-block">
                
                    <a href="https://gokmengorgen.net/">
                        <img class="ml-md-4 logo" src="https://gokmengorgen.net/img/laughing-man.png" alt="logo">
                    </a>
                
            </div>
            <div class="col-auto align-self-center mr-auto">
                <a href="https://gokmengorgen.net/">
                    <h1 class="font-weight-bold name">GKMNGRGN</h1>
                </a>

                <ul class="nav nav-primary">
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-blog" href="https://gokmengorgen.net/blog/">
                                
                                Yazılar
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-my-work" href="https://alageek.com">
                                
                                Çalışmalarım
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-live" href="https://gokmengorgen.net/live/">
                                📹
                                Canlı Yayın
                            </a>
                        </li>
                    

                    
                </ul>

                <ul class="nav nav-secondary">
                    
                        <li class="nav-item">
                            <a class="text-uppercase font-weight-bold nav-link text-patreon" href="https://www.patreon.com/bePatron?u=10637849">
                                
                                Bana destek ol
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase font-weight-bold nav-link text-bmc" href="https://www.buymeacoffee.com/gokmen">
                                
                                Kahve ısmarla
                            </a>
                        </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>


    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10">
                    <h1 class="mx-0 mx-md-4">04 - Template Motoru</h1>

                    <div class="mb-4 mb-md-5 meta">
                        <span class="date" title='Sat Apr 28 2018 00:56:53 &#43;0200'>
                            April 28, 2018
                        </span>

                        <span class="reading-time middot">
                            4 minute read
                        </span>

                        <div class="d-none d-md-inline tags">
                            <ul class="list-unstyled d-inline">
                                <li class="d-inline middot">
                                    <a href="https://gokmengorgen.net/django-notes/">Django notlarım</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="markdown">
                        
    
    

<p><em>Eğer içeriği dinamik oluşturuyorsak, ortak sayfa bileşenlerini tekrar tekrar yazmak istemiyorsak, Template katmanını biraz daha yakından tanımamız gerekiyor.</em></p>

<h2 id="özet">Özet</h2>

<ul>
<li>Template katmanında layout kullanımına bir örnek göstereceğiz.</li>
<li>Örnek bir template tag ve filter yazmayı deneyeceğiz.</li>
<li>Admin panelimizde, göze hoş görünmesi için bir stil düzenlemesi yapacağız.</li>
<li>Bu yazıyla ilgili kodlara <a href="https://github.com/gkmngrgn/django-notes/tree/master/Article-04">buradan</a> erişebilirsiniz.</li>
</ul>

<h2 id="layout-kullanımı">Layout Kullanımı</h2>

<p>Template dosyaları yazmaya başladıkça bir şeyleri tekrar etmeye başlayacaksınız. Birçoğunun içinde head ve body var, bir çoğunda ortak stil dosyalarını kullanacaksınız, hatta hangi sayfa olursa olsun bazı meta tagları hiç değişmeyecek. Her Template dosyasında bunları tekrar tekrar yazmak zor ve anlamsız. Onun yerine, <code>base.html</code> adında bir layout oluşturup diğer Template dosyalarımızda bu layout&rsquo;u kullanabiliriz. İşte biz bu tip işlevleri Django&rsquo;nun arkasındaki Template motoru sayesinde yapabiliyoruz.</p>

<p>Django birden fazla Template motoru destekliyor. Varsayılan template motoru<sup class="footnote-ref" id="fnref:1"><a href="#fn:1">1</a></sup>, <a href="http://jinja.pocoo.org/">Jinja</a>&lsquo;ya çok benziyor; fakat Jinja&rsquo;nın tüm özelliklerini desteklemiyor. Ancak dilerseniz onu da tercih edebilirsiniz. Varsayılan Template motoru ile bir layout oluşturmayı deneyelim:</p>

<pre><code class="language-html">&lt;!-- templates/base.html --&gt;

&lt;!doctype html&gt;
&lt;html lang=&quot;en&quot;&gt;
    &lt;head&gt;
        &lt;meta charset=&quot;utf-8&quot;&gt;
        &lt;!-- block'un içini varsayılan bir değerle doldurabilirsiniz. --&gt;
        &lt;!-- Örneğin burada varsayılan &quot;Hello&quot; --&gt;
        &lt;title&gt;{% block title %}Hello{% endblock %}&lt;/title&gt;
        &lt;link rel=&quot;stylesheet&quot; href=&quot;/static/main.css&quot;&gt;
    &lt;/head&gt;
    &lt;body&gt;
        {% block content %}{% endblock %}
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>Basit bir layout örneği. İçinde iki block var ve bu block&rsquo;lar sayesinde içeriği doldurabiliyoruz:</p>

<pre><code class="language-html">&lt;!-- templates/new.html --&gt;

{% extends 'base.html' %}&lt;!-- Layout'u ilk satırda tanımlıyoruz. --&gt;
&lt;!-- extends ilk satır olmak zorunda. --&gt;

&lt;!-- title block'unun varsayılanını çağırmak için block.super kullanabilirsiniz. --&gt;
{% block title %}{{ block.super }} - New{% endblock %}

{% block content %}
    &lt;form action=&quot;&quot; method=&quot;POST&quot; enctype=&quot;multipart/form-data&quot;&gt;
        ...
{% endblock %}
</code></pre>

<h2 id="yardımcı-fonksiyonlar">Yardımcı Fonksiyonlar</h2>

<p>Biz View katmanında, kullanıcılara göstermek istediğimiz içerik verisini hazırlayıp sonra Template katmanı içinde kullanıyoruz. İçerik verisini hazırlarken değer hesaplama, veritabanından veri alma gibi birtakım işlemler gerçekleştiriyoruz. Fakat bazen bu işlemler bir sayfayı ilgilendiren bir işlem değil de, tüm sayfalarda gerektiğinde kullanabileceğimiz bir işlem olabiliyor. Eğer bu işlem, doğrudan Template katmanını ilgilendiren bir işlemse biz burada <strong>Template Tag</strong> veya <strong>Template Filter</strong> gibi yöntemleri kullanmayı tercih ediyoruz. Örneğin <code>{% csrf_token %}</code>.</p>

<p>Hatırlarsanız Palette uygulamamızda yeni resim yüklemek için hazırladığımız formda bu Template Tag&rsquo;i kullanmıştık. Başında ve sonunda <code>{%</code> ve <code>%}</code> olması onun bir Template Tag olduğunu gösterir. Aslında <strong>if</strong>, <strong>for</strong>, <strong>with</strong> gibi temel programlama dili anahtar kelimeleri de Template katmanında bir Tag olarak isimlendirilebilir. Ancak eğer <code>{{ color|default_if_none:&quot;#fff&quot; }}</code> şeklinde bir kullanım görürseniz, burada <code>default_if_none</code> adında bir Template Filter kullanıldığını anlayabilirsiniz. Filter&rsquo;in temel işlevi değişkenin kendisini modifiye etmek. Yani burada <strong>color</strong> değişkeni yoksa <strong>#fff</strong> değerini elde ederiz.</p>

<p>Django&rsquo;yla birlikte kullanışlı birçok <a href="https://docs.djangoproject.com/en/2.0/ref/templates/builtins/">Template Tag ve Filter</a> geliyor. Fakat bazen özel ihtiyaçlar üçüncü parti bir Django eklentisi kullanmak gerekebiliyor veya kendimiz bu ihtiyacı gideren basit bir Template Tag veya Filter yazmak isteyebiliriz.</p>

<p>Palette uygulamamıza dönelim ve renkleri kutu kutu göstermeyi deneyelim. Önce <strong>main.css</strong> dosyamıza basit bir stil ekleyelim:</p>

<pre><code class="language-css">/* static/main.css */

.colors {
  margin: 25px 0;
}

.colors .color-item { /* renk kutuları */
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #eee;
  background-color: #555;
  margin-right: 20px;
}
</code></pre>

<p>Sonra <strong>detail.html</strong> dosyasında renk kutuları göstermeye çalışalım:</p>

<pre><code class="language-html">&lt;!-- templates/palette/detail.html --&gt;

...
&lt;div class=&quot;colors&quot;&gt;
    {% for color in palette.colors %}
        &lt;span class=&quot;color-item&quot; style=&quot;background-color: {{ color }};&quot; title=&quot;{{ color }}&quot;&gt;&lt;/span&gt;
    {% endfor %}
&lt;/div&gt;
...
</code></pre>

<p>Bir sorunumuz var. <code>palette.colors</code> field&rsquo;imizin veri tipi liste değil. O sadece virgülle ayrılmış renk kodlarını içeren string. Bizim string&rsquo;i list&rsquo;e çevirecek bir filtreye ihtiyacımız var. Burada hemen ilk filtremizi yazmaya başlayabiliriz. hello_palette uygulamasının içinde <strong>templatetags</strong> dizini oluşturup içinde <strong>__init__.py</strong><sup class="footnote-ref" id="fnref:2"><a href="#fn:2">2</a></sup> ve <strong>palette_tags.py</strong> adında iki dosya oluşturalım ve ilk filtremizi yazalım:</p>

<pre><code class="language-python"># hello_palette/templatetags/palette_tags.py

from django import template

register = template.Library()


@register.filter
def as_list(value):
  return value.split(',')
</code></pre>

<p>Bu sayede renk listesini şu şekilde elde edebiliriz:</p>

<pre><code class="language-html">&lt;!-- templates/palette/detail.html --&gt;

...
    {% for color in palette.colors|as_list %}
    ...
</code></pre>

<p>Şimdi bir soru. Bu renk listesine sadece Template katmanında mı ihtiyaç duyacağız? Yani bir Template Filter fonksiyonunu Template katmanı dışında bir yerde kullanmak istesek ne kadar hoş olurdu? İleriye dönük düşünürsek bunu Model katmanında da çözebilirdik:</p>

<pre><code class="language-python"># hello_palette/models.py

class Palette(models.Model):
    ...

    @property
    def colors_as_list(self):
        return self.colors.split(',')
</code></pre>

<p>Böylece Template katmanında şu şekilde kullanabilirdik:</p>

<pre><code class="language-html">&lt;!-- templates/palette/detail.html --&gt;

...
    {% for color in palette.colors_as_list %}
    ...
</code></pre>

<p><a href="https://gokmengorgen.net/img/django-notes/color-boxes.png" target="_blank">
  <figure class="progressive"><img class="progressive__img progressive--not-loaded" data-progressive="https://gokmengorgen.net/img/django-notes/color-boxes.png" src="https://gokmengorgen.net/img/django-notes/low/color-boxes.png" alt="Color boxes" title="Renk kutuları" /></figure>
</a></p>

<h2 id="admin-panelinde-stil-düzenlemesi">Admin Panelinde Stil Düzenlemesi</h2>

<p>Admin panelinde de renk kodlarını güzel göstermek için SVG ile basit bir stil denemesi yapsak nasıl olur? Bunun için
ilgili Admin class&rsquo;ında özel bir column fonksiyonu yazmamız gerekiyor:</p>

<pre><code class="language-python"># hello_palette/admin.py

...
from django.utils.html import format_html
...


@admin.register(Palette)
class PaletteAdmin(admin.ModelAdmin):
    list_display = ('__str__', 'get_colors', 'created_at', 'is_deleted')  # colors'u sildik, fonskyionun adını yazdık.
    ...

    def get_colors(self, obj):
        # buradaki obj aslında bir Palette instance'i. Böylece renk kodlarımıza erişebileceğiz.
        # models.py'deki colors_as_list metodumuzu burada da kullanabiliyoruz.
        # format_html, HTML tag'lerini HTML dosyasında doğru şekilde çevirebilmek için gerekli.
        circle_template = '&lt;svg width=16 height=16&gt;&lt;circle cx=8 cy=8 r=5 style=&quot;fill: {};&quot;&gt;&lt;/circle&gt;&lt;/svg&gt;'
        return format_html(''.join(circle_template.format(c) for c in obj.colors_as_list))

    get_colors.short_description = &quot;Colors&quot;  # Column için isim veriyoruz.
    get_colors.allow_tags = True  # HTML tag'i kullanımına izin veriyoruz.
</code></pre>

<p><a href="https://gokmengorgen.net/img/django-notes/admin-color-circles.png" target="_blank">
  <figure class="progressive"><img class="progressive__img progressive--not-loaded" data-progressive="https://gokmengorgen.net/img/django-notes/admin-color-circles.png" src="https://gokmengorgen.net/img/django-notes/low/admin-color-circles.png" alt="Admin color circles" title="Admin panelinde renk çemberleri" /></figure>
</a></p>

<p>Şimdi biraz daha göze hoş geliyor, değil mi? Böylece basit bir uygulamamızı tamamlamış olduk. Bundan sonra farklı uygulamalarla sizi Django&rsquo;nun farklı güzellikleri konusunda bilgilendirmek istiyorum. Kısa zamanda tekrar görüşmek üzere.</p>
<div class="footnotes">

<hr />

<ol>
<li id="fn:1"><a href="https://docs.djangoproject.com/en/2.0/ref/templates/">Buradan</a> Template diline hızlı başlangıç yapabilirsiniz.
 <a class="footnote-return" href="#fnref:1"><sup>[return]</sup></a></li>
<li id="fn:2">Bir dizinin Python paketi olduğunu anlatabilmemiz için __init__.py dosyasına ihtiyacımız var.
 <a class="footnote-return" href="#fnref:2"><sup>[return]</sup></a></li>
</ol>
</div>



                    </div>

                    
                        <div class="navigation">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    
                                        <div class="mx-0 mx-md-4 mt-4 text-left">
                                            <img class="icon" src="https://gokmengorgen.net/img/back.svg" alt="back" />
                                            <a href="https://gokmengorgen.net/django-notes/03-admin-paneli/">03 - Admin Paneli</a>
                                        </div>
                                    
                                </div>
                                <div class="col-12 col-md-6">
                                    
                                        <div class="mx-0 mx-md-4 mt-4 text-right">
                                            <a href="https://gokmengorgen.net/django-notes/05-formset/">05 - Formset</a>
                                            <img class="icon" src="https://gokmengorgen.net/img/next.svg" alt="next" />
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5">
                
                    <div class="mx-0 mx-md-4 mb-2 text-center text-md-left">
                        
                            <a href="https://gokmengorgen.net/lisans/">© 2018 - 2019 by Gökmen Görgen.</a>
                        
                    </div>
                
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="mx-0 mx-md-4 text-center text-md-right">
                    

                    
                        <a href="https://gitlab.com/gokmen" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/gitlab.svg" alt="gitlab" />
                        </a>
                    

                    

                    
                        <a href="https://github.com/gkmngrgn" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/github.svg" alt="github" />
                        </a>
                    

                    
                        <a href="https://twitter.com/gokmengorgen" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/twitter.svg" alt="twitter" />
                        </a>
                    

                    
                        <a rel="me" href="https://mastodon.technology/@gokmen" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/mastodon.svg" alt="mastodon" />
                        </a>
                    

                    
                        <a href="https://www.linkedin.com/in/gokmengorgen" target="_blank" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/linkedin.svg" alt="linkedin" />
                        </a>
                    

                    
                        <a href="mailto:gokmen@alageek.com" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/email.svg" alt="email" />
                        </a>
                    

                    
                        <a href="https://gokmengorgen.net/index.xml" class="mx-1 ml-md-2 mr-md-0">
                            <img class="icon" src="https://gokmengorgen.net/img/rss.svg" alt="rss" />
                        </a>
                    

                    
                </div>
            </div>
        </div>
    </div>
</div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha256-63ld7aiYP6UxBifJWEzz87ldJyVnETUABZAYs5Qcsmc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" integrity="sha256-4O4pS1SH31ZqrSO2A/2QJTVjTPqVe+jnYgOWUVr7EEc=" crossorigin="anonymous"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Raleway:400,600,700', 'Merriweather:300,300i,700,700i']
            }
        });
    </script>

    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/bash.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/cs.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/css.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/diff.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/django.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dockerfile.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/lisp.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/nginx.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/powershell.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js" defer></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js" defer></script>
        
        <script>
            window.addEventListener('load', function() {
                hljs.initHighlighting();
            }, true);
        </script>
    

    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/progressively/1.2.5/progressively.min.js" integrity="sha256-LvFVlLdfGI3WeEH+8Ni4kxLm02g2GlOfeGCGLXfRk/U=" crossorigin="anonymous"></script>
        <script>
            window.addEventListener('load', function() {
                progressively.init({delay: 30, throttle: 50});
            }, true);
        </script>
    

    

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-54304543-3', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

    
<script>
    (function (m, a, i, l, e, r) {
        m['MailerLiteObject'] = e; function f() {
            var c = { a: arguments, q: [] }; var r = this.push(c); return "number" != typeof r ? r : f.bind(c.q);
        }
        f.q = f.q || []; m[e] = m[e] || f.bind(f.q); m[e].q = m[e].q || f.q; r = a.createElement(i);
        var _ = a.getElementsByTagName(i)[0]; r.async = 1; r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
        _.parentNode.insertBefore(r, _);
    })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1180610', 'p6p1h3r0l3', 'load');
</script>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55bfede7196e342d"></script>

</body>

</html>
