<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>06 - Bildirimler ve çeviriler - GKMNGRGN</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="referrer" content="no-referrer">
    <meta name="description" content="Kullanıcıya, veride yaptığı değişiklikler hakkında bilgi vermek gerekir. Django&#39;nun bildirim sistemini çeviri yaparak uygulamamızda kullanacağız.">
    <meta property="og:site_name" content="GKMNGRGN" />
    <meta property="og:locale" content="nn_NO" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://gokmengorgen.net/django-notlarim/06-bildirimler-ve-ceviriler/" />
    <meta property="og:title" content="06 - Bildirimler ve çeviriler" />
    <meta property="og:image" content="https://gokmengorgen.net/img/django-notlarim/django-notlarim.png" />
    <meta property="og:description" content="Kullanıcıya, veride yaptığı değişiklikler hakkında bilgi vermek gerekir. Django&#39;nun bildirim sistemini çeviri yaparak uygulamamızda kullanacağız." />

    
        <meta property="twitter:site" content="@gokmengorgen">
    

    <meta property="twitter:title" content="06 - Bildirimler ve çeviriler" />
    <meta property="twitter:image" content="https://gokmengorgen.net/img/django-notlarim/django-notlarim.png" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:description" content="Kullanıcıya, veride yaptığı değişiklikler hakkında bilgi vermek gerekir. Django&#39;nun bildirim sistemini çeviri yaparak uygulamamızda kullanacağız." />

    
        <meta name="flattr:id" content="62knje">
    

    <link rel="canonical" href="https://gokmengorgen.net/django-notlarim/06-bildirimler-ve-ceviriler/">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://gokmengorgen.net/css/main.css" />

    
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs.min.css" integrity="sha256-w6kCMnFvhY2tI1OnsYR/rb5DG9yFGodJknvFZOkp51E=" crossorigin="anonymous" />
    

    
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/progressively/1.2.5/progressively.min.css" integrity="sha256-xbqLYBMsjpuCihs+3Fgp/MFMtPdo2SWKoOjEWOqR4X0=" crossorigin="anonymous" />
    

    <link rel="shortcut icon"
        href="https://gokmengorgen.net/img/laughing-man-favicon.png">

    

    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i" rel="stylesheet">
    </noscript>
</head>

<body>
    
    <div class="my-4 my-md-5 header">
    <div class="container">
        <div class="row">
            <div class="col-auto offset-md-1 d-none d-md-block">
                
                    <a href="https://gokmengorgen.net/">
                        <img class="ml-md-4 logo" src="https://gokmengorgen.net/img/laughing-man.png" alt="logo">
                    </a>
                
            </div>
            <div class="col-auto align-self-center mr-auto">
                <a href="https://gokmengorgen.net/">
                    <h1 class="font-weight-bold name">GKMNGRGN</h1>
                </a>

                <ul class="nav nav-primary">
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-blog" href="https://gokmengorgen.net/blog/">
                                
                                Blog
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-my-work" href="https://alageek.com">
                                
                                My work
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase nav-link text-live" href="https://gokmengorgen.net/live/">
                                📹
                                Live
                            </a>
                        </li>
                    

                    
                </ul>

                <ul class="nav nav-secondary">
                    
                        <li class="nav-item">
                            <a class="text-uppercase font-weight-bold nav-link text-patreon" href="https://www.patreon.com/bePatron?u=10637849">
                                
                                Become a patron
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="text-uppercase font-weight-bold nav-link text-bmc" href="https://www.buymeacoffee.com/gokmen">
                                
                                Buy me a coffee
                            </a>
                        </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>


    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10">
                    <h1 class="mx-0 mx-md-4">06 - Bildirimler ve çeviriler</h1>

                    <div class="mb-4 mb-md-5 meta">
                        <span class="date" title="Thu May 10 2018 14:36:49 CEST">
                            May 10, 2018
                        </span>

                        <span class="reading-time middot">
                            4 minute read
                        </span>

                        <div class="d-none d-md-inline tags">
                            <ul class="list-unstyled d-inline">
                                <li class="d-inline middot">
                                    <a href="https://gokmengorgen.net/django-notlarim/">Django notlarım</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="markdown">
                        
    
    

<p><em>Uptime ekranımızda URL&rsquo;lerimizi giriyoruz; ama kullanıcı ile bir etkileşim olmuyor. Gerçekten kaydetti mi, bir sorun mu oldu, ne oldu belli değil. Bir de uygulamayı İngilizce geliştiriyoruz; ama Türkçe yerelde Türkçe arayüz görmek istersek ne yapacağız? Birlikte deneyelim, görelim.</em></p>

<h2 id="özet">Özet</h2>

<ul>
<li>Django&rsquo;da bildirim altyapısını (Messages Framework<sup class="footnote-ref" id="fnref:1"><a href="#fn:1">1</a></sup>) uygulamamızda kullanacağız.</li>
<li>Tüm sayfalarda bildirim mesajlarının nasıl çalıştığını inceleyerek Template katmanına sayfa bağımsız içerik nasıl enjekte ediliyor, bu konuya değineceğiz.</li>
<li>Bildirim mesajlarını yerelleştireceğiz.</li>
<li>Bu yazıyla ilgili kodlara <a href="https://github.com/gkmngrgn/django-notes/tree/master/Article-06">buradan</a> erişebilirsiniz.</li>
</ul>

<h2 id="messages-framework">Messages Framework</h2>

<p>Django admin panelinde dikkatinizi çekti mi, bir Monitor eklemek, düzenlemek veya silmek istediğimizde aşağıdaki gibi bir bildirim alıyoruz:</p>

<p><a href="https://gokmengorgen.net/img/django-notlarim/admin-notification.png" target="_blank">
  <figure class="progressive"><img class="progressive__img progressive--not-loaded" data-progressive="https://gokmengorgen.net/img/django-notlarim/admin-notification.png" src="https://gokmengorgen.net/img/django-notlarim/low/admin-notification.png" alt="Notification in admin panel" title="Admin panelinde bildirim" /></figure>
</a></p>

<p>Aynısını Uptime ekranında kullanmak için, Django ile birlikte gelen Messages Framework&rsquo;e ihtiyacımız var. İlk kez Django projesi kurduğumuzda bildirimler kullanıma hazır haldedir. Önce basit bir stil düzeltmesi yapalım, bildirim bir hata mesajı mı, yoksa olumlu bir bilgi mi içeriyor, renkle anlaşılsın:</p>

<pre><code class="language-css">/* static/main.css */
...
ul.messages {
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
}

ul.messages li {
    margin-bottom: 5px;
    padding: 15px 20px;
    background-color: #eaeaea;
    color: #222;
}

ul.messages li.error { /* Bildirim tag'ı error ise arkaplan kırmızı */
    background-color: #f7e4e1;
}

ul.messages li.success { /* Bildirim tag'ı success ise arkaplan yeşil */
    background-color: #e1faea;
}
</code></pre>

<p>Şimdi Template katmanımızı güncelleyelim. Yalnız hangi dosyayı düzenlediğimize dikkat edin, bildirimler tek bir sayfada olmayacak. Yani tüm sayfalarda kullandığımız layout dosyasına bir kod ekleyeceğiz ve hangi sayfa olursa olsun bildirimler tutarlı görünecek:</p>

<pre><code class="language-html">&lt;!-- templates/base.html --&gt;
...
{% if messages %}
    &lt;ul class=&quot;messages&quot;&gt;
        {% for message in messages %}
            &lt;li{% if message.tags %} class=&quot;{{ message.tags }}&quot;{% endif %}&gt;{{ message }}&lt;/li&gt;
        {% endfor %}
    &lt;/ul&gt;
{% endif %}
...
</code></pre>

<p>Şimdi View katmanımızı güncelleyeceğiz. Yalnız bir şeye dikkat etmenizi istiyorum. Form geçerli veya geçersiz olduğunda bir bildirim mesajı ekliyoruz; ama hiç <code>messages</code> diye bir içerik verisi tanımlamadığımız halde bu değişkeni tüm Template dosyalarımızda <strong>ortak</strong> kullanabiliyoruz. Yani <code>messages</code> değişkenimiz, Template katmanımız yorumlanırken bir şekilde içine enjekte ediliyor:</p>

<pre><code class="language-python"># hello_uptime/views.py
...
from django.contrib import messages
...

class UptimeDashboardView(ModelFormSetView):
    ...

    def formset_valid(self, formset):
        formset.save()
        # Formlarımızda sorun yoksa bu metod çalışacak.
        # Bildirimimizi messages.success ile ekleyeceğiz.
        messages.success(self.request, _(&quot;The monitors have been updated.&quot;))
        return super().formset_valid(formset)

    def formset_invalid(self, formset):
        # Formlarımızda sorun varsa bu metod çalışacak.
        # Bir hata mesajı göstermek istediğimiz için messages.error kullanıyoruz.
        messages.error(self.request, _(&quot;The monitors could not be updated, please check the form.&quot;))
        return super().formset_invalid(formset)
</code></pre>

<p>Hiç <code>get_context_data</code> metoduna dokunmadık, hiç <code>messages</code> diye içerik verisi eklemedik; ama çalışıyor, nasıl?</p>

<p><a href="https://gokmengorgen.net/img/django-notlarim/notification-error.png" target="_blank">
  <figure class="progressive"><img class="progressive__img progressive--not-loaded" data-progressive="https://gokmengorgen.net/img/django-notlarim/notification-error.png" src="https://gokmengorgen.net/img/django-notlarim/low/notification-error.png" alt="Error message" title="Hata mesajı" /></figure>
</a></p>

<p>Sorumuzun cevabı proje ayarlarında gizli:</p>

<pre><code class="language-python"># settings.py
...
TEMPLATES = [
    {
        ...
        'OPTIONS': {
            'context_processors': [
                ...
                'django.contrib.messages.context_processors.messages',
            ],
        },
    },
]
...
</code></pre>

<p>Context Processors konusuna daha sonra bizzat kendimiz bir örnek yazarak tekrar değineceğiz, şimdilik bu kadarıyla yetinebiliriz<sup class="footnote-ref" id="fnref:2"><a href="#fn:2">2</a></sup>.</p>

<h2 id="çeviriler">Çeviriler</h2>

<p>Tarayıcımın dili Türkçe olduğunda, bildirimleri de Türkçe görmek için bizim yerelleştirme<sup class="footnote-ref" id="fnref:3"><a href="#fn:3">3</a></sup> yapmamız gerekiyor. Çeviriler yerelleştirmenin bir konusu; ancak bunun dışında tarih biçimleri, parayı ifade eden sayıların yazılışı, sayı ayraçları da yerelleştirmenin konusudur.</p>

<p>Önce proje ayarlarında çeviri için gerekli birkaç ayar yapmamız gerekiyor:</p>

<pre><code class="language-python"># settings.py
...
MIDDLEWARE = [
    ...
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.locale.LocaleMiddleware',  # Sıra önemli.
    'django.middleware.common.CommonMiddleware',
    ...
]
...
LANGUAGE_CODE = 'en'

LANGUAGES = [
    ('en', &quot;English&quot;),
    ('tr', &quot;Türkçe&quot;),
]

LOCALE_PATHS = (
    os.path.join(BASE_DIR, 'locale'),
)
...
</code></pre>

<p>Django çeviri için gettext<sup class="footnote-ref" id="fnref:4"><a href="#fn:4">4</a></sup> kullanıyor. Projemizde <strong>locale</strong> dizinini oluşturduktan sonra aşağıdaki komutu çalıştırın:</p>

<pre><code class="language-bash"># terminal
$ mkdir locale
$ python manage.py makemessages -l tr
processing locale tr
$ ls locale/tr/LC_MESSAGES/
django.po
</code></pre>

<p>Şimdi <strong>django.po</strong> dosyasını herhangi bir çeviri editörüyle<sup class="footnote-ref" id="fnref:5"><a href="#fn:5">5</a></sup> açın ve dosya içeriğini inceleyin. Daha önce uygulamanın bir çok yerinde kullandığımız tanıdık kelimeler göreceğiz:</p>

<p><a href="https://gokmengorgen.net/img/django-notlarim/poedit.png" target="_blank">
  <figure class="progressive"><img class="progressive__img progressive--not-loaded" data-progressive="https://gokmengorgen.net/img/django-notlarim/poedit.png" src="https://gokmengorgen.net/img/django-notlarim/low/poedit.png" alt="Poedit" title="Poedit ile çeviri" /></figure>
</a></p>

<p>Peki, <code>makemessages</code> komutu bizim çevirilebilir mesajlarımızı nasıl bulabildi? View katmanındaki kodumuzda <code>_()</code> kullanımına dikkat edin, projenin başından beri hep çevrilebilir mesajları ugettext metodunu kullanarak yazdık:</p>

<pre><code class="language-python"># hello_uptime/views.py
...
from django.utils.translation import ugettext as _
...

class UptimeDashboardView(ModelFormSetView):
    ...
    def formset_valid(self, formset):
        ...
        messages.success(self.request, _(&quot;The monitors have been updated.&quot;))
...
</code></pre>

<p>Çevrilebilir mesajlarımızı projede kullanabilmemiz için son bir adım kaldı. Aşağıdaki komutla derleme yapmamız gerekiyor:</p>

<pre><code class="language-bash"># terminal
$ python manage.py compilemessages
processing file django.po in C:\Users...\hello_django\locale\tr\LC_MESSAGES
</code></pre>

<p>Geliştirme sunucusunu tekrar çalıştırın, Türkçe yerelini kullanan bir tarayıcıyla uptime uygulamasına gidin ve sadece Kaydet düğmesine basın:</p>

<p><a href="https://gokmengorgen.net/img/django-notlarim/translation.png" target="_blank">
  <figure class="progressive"><img class="progressive__img progressive--not-loaded" data-progressive="https://gokmengorgen.net/img/django-notlarim/translation.png" src="https://gokmengorgen.net/img/django-notlarim/low/translation.png" alt="Turkish notification message" title="Türkçe bildirim mesajı" /></figure>
</a></p>

<p>Bildirim mesajı artık Türkçe. Böylece nasıl çeviri yapabileceğimizi öğrenmiş olduk. Elbette bu konu bununla sınırlı değil, tekil - çoğul ayrımı, çevirilerin kullanıcı tercihleriyle ilişkilendirilmesi, kodu güncelledikçe değişen cümleler ve daha bir çok detay var. Onun için, her zaman Django&rsquo;nun kendi belgesine de bir göz atmakta fayda var. İleride biz de gerektikçe örneklendireceğiz.</p>

<p>Bir sonraki konumuz, kullanıcı modelleri oluşturup uptime uygulamasını kullanıcıyla ilişkilendirmek olacak.</p>
<div class="footnotes">

<hr />

<ol>
<li id="fn:1">Messages Framework ile ilgili detaylı bilgiyi <a href="https://docs.djangoproject.com/en/2.0/ref/contrib/messages/">burada</a> bulabilirsiniz.
 <a class="footnote-return" href="#fnref:1"><sup>[return]</sup></a></li>
<li id="fn:2">Örnek bir context processors metodu <a href="https://github.com/django/django/blob/master/django/contrib/messages/context_processors.py">burada</a>.
 <a class="footnote-return" href="#fnref:2"><sup>[return]</sup></a></li>
<li id="fn:3">Çeviriler ile ilgili detaylı bilgiye <a href="https://docs.djangoproject.com/en/2.0/topics/i18n/translation/">buradan</a> erişebilirsiniz.
 <a class="footnote-return" href="#fnref:3"><sup>[return]</sup></a></li>
<li id="fn:4">Gettext&rsquo;i <a href="https://www.gnu.org/software/gettext/">buradan</a> indirip yükleyin, çeviri dosyası oluşturmamız için gerekiyor.
 <a class="footnote-return" href="#fnref:4"><sup>[return]</sup></a></li>
<li id="fn:5">Ben <a href="https://poedit.net/">Poedit</a> kullanıyorum, epey iş görüyor.
 <a class="footnote-return" href="#fnref:5"><sup>[return]</sup></a></li>
</ol>
</div>



                    </div>

                    
                        <div class="navigation">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    
                                        <div class="mx-0 mx-md-4 mt-4 text-left">
                                            <img class="icon" src="https://gokmengorgen.net/img/back.svg" alt="back" />
                                            <a href="https://gokmengorgen.net/django-notlarim/05-formset/">05 - Formset</a>
                                        </div>
                                    
                                </div>
                                <div class="col-12 col-md-6">
                                    
                                        <div class="mx-0 mx-md-4 mt-4 text-right">
                                            <a href="https://gokmengorgen.net/django-notlarim/07-kullanici-dogrulama/">07 - Kullanıcı doğrulama</a>
                                            <img class="icon" src="https://gokmengorgen.net/img/next.svg" alt="next" />
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5">
                
                    <div class="mx-0 mx-md-4 text-left">
                        
                            <a href="https://gokmengorgen.net/license">© 2018 by Gökmen Görgen.</a>
                        
                    </div>
                
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="mx-0 mx-md-4 text-right">
                    

                    

                    

                    
                        <a href="https://github.com/gkmngrgn" target="_blank">
                            <img class="icon" src="https://gokmengorgen.net/img/github.svg" alt="github" />
                        </a>
                    

                    
                        <a href="https://twitter.com/gokmengorgen" target="_blank">
                            <img class="icon" src="https://gokmengorgen.net/img/twitter.svg" alt="twitter" />
                        </a>
                    

                    
                        <a href="https://www.linkedin.com/in/gokmengorgen" target="_blank">
                            <img class="icon" src="https://gokmengorgen.net/img/linkedin.svg" alt="linkedin" />
                        </a>
                    

                    
                        <a href="mailto:gokmen@alageek.com">
                            <img class="icon" src="https://gokmengorgen.net/img/email.svg" alt="email" />
                        </a>
                    

                    
                        <a href="https://gokmengorgen.net/index.xml" class="mr-0">
                            <img class="icon" src="https://gokmengorgen.net/img/rss.svg" alt="rss" />
                        </a>
                    

                    
                </div>
            </div>
        </div>
    </div>
</div>



    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" integrity="sha256-4O4pS1SH31ZqrSO2A/2QJTVjTPqVe+jnYgOWUVr7EEc=" crossorigin="anonymous"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Raleway:400,600,700', 'Merriweather:300,300i,700,700i']
            }
        });
    </script>

    
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/bash.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/cs.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/css.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/diff.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/django.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dockerfile.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/lisp.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/nginx.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/powershell.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js" defer></script>
        
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js" defer></script>
        
        <script>
            window.addEventListener('load', function() {
                hljs.initHighlighting();
            }, true);
        </script>
    

    
        <script src="//cdnjs.cloudflare.com/ajax/libs/progressively/1.2.5/progressively.min.js" integrity="sha256-LvFVlLdfGI3WeEH+8Ni4kxLm02g2GlOfeGCGLXfRk/U=" crossorigin="anonymous"></script>
        <script>
            window.addEventListener('load', function() {
                progressively.init({delay: 30, throttle: 50});
            }, true);
        </script>
    

    

    
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-54304543-3', 'auto');
ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>

    
<script>
    (function (m, a, i, l, e, r) {
        m['MailerLiteObject'] = e; function f() {
            var c = { a: arguments, q: [] }; var r = this.push(c); return "number" != typeof r ? r : f.bind(c.q);
        }
        f.q = f.q || []; m[e] = m[e] || f.bind(f.q); m[e].q = m[e].q || f.q; r = a.createElement(i);
        var _ = a.getElementsByTagName(i)[0]; r.async = 1; r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
        _.parentNode.insertBefore(r, _);
    })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1180610', 'p6p1h3r0l3', 'load');
</script>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55bfede7196e342d"></script>

</body>

</html>
